<!DOCTYPE html>
<html>
  <head>
    <title>Hello, world!</title>
    <style>
      #container {
          margin: auto;
          width: 70%;
          margin-top: 150px;
          text-align: center;
      }
      img {
          width: 50%;
      }
      #button {
          padding: 20px;
          font-weight: bold;
      }
    </style>
    <script>
      function complete() {
        const upper = document.getElementById("wrapper_upper");
        const lower = document.getElementById("wrapper_lower");

        upper.innerHTML = "<img src='/static/image.jpg'>";
        lower.innerHTML = "<h1>Completed, the exercise is. Yeessssssss.</h1>";
      }
    </script>
  </head>
  <body>
    <div id="container">
      <h1>The project app</h1>
      <img src="/static/image_{{.ImageTS}}.jpg">
      <div style="margin-top: 30px;">
        <input type="text" maxlength="140">
        <button>Create TODO</button>
        <ul style="text-align: left;">
          <li>✅ Learn Kubernetes basics</li>
          <li>✅ Set up a cluster</li>
          <li>⬜ Deploy the project app</li>
        </ul>
      </div>
    </div>
  </body>
</html>
