<!DOCTYPE html>
<html>
  <head>
    <title>Hello, world!</title>
    <style>
      #container {
          margin: auto;
          width: 70%;
          margin-top: 150px;
          text-align: center;
      }
      img {
          width: 50%;
      }
      #button {
          padding: 20px;
          font-weight: bold;
      }
    </style>
    <script>
      function complete() {
        const upper = document.getElementById("wrapper_upper");
        const lower = document.getElementById("wrapper_lower");

        upper.innerHTML = "<img src='/static/image.jpg'>";
        lower.innerHTML = "<h1>Completed, the exercise is. Yeessssssss.</h1>";
      }
    </script>
  </head>
  <body>
    <div id="container">
      <div id="wrapper_upper">
        <h1>The project app</h1>
      </div>
      <div id="wrapper_lower">
        <img src="/static/image_{{.ImageTS}}.jpg">
        <h4>DevOps with Kubernetes 2025</h4>
      </div>
    </div>
  </body>
</html>
