<!DOCTYPE html>
<html>
  <head>
    <title>DevOps with K8s - ToDo App</title>
    <style>
      #container {
          margin: auto;
          width: 70%;
          margin-top: 150px;
          text-align: center;
      }
      img {
          width: 50%;
      }
      #button {
          padding: 20px;
          font-weight: bold;
      }
    </style>
    <script>
      async function addTodo() {
        const input = document.getElementById("todo-input");
        const text = input.value.trim();
        const ul = document.getElementById("todo-list");

        if (!text) return;
        await fetch("/todos", {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({text})
        });
        input.value = "";

        location.reload();
      }

      async function setDone(id) {
        await fetch(`/todos/${id}`, {method: "PUT"});

        location.reload();
      }
    </script>
  </head>
  <body>
    <div id="container">
      <h1>The project app</h1>
      <img src="/static/image_{{.ImageTS}}.jpg">
      <div style="margin-top: 30px;">
        <input type="text" id="todo-input" maxlength="140" required>
        <button onclick="addTodo()">Create TODO</button>
        <ul id="todo-list" style="text-align: left;">
          {{range .Todos}}
            <li>
              {{if .Done}}<s>{{.Todo}}</s>{{else}}{{.Todo}}{{end}}
              {{if not .Done}}
                <button onclick="setDone({{.ID}})">Mark as done</button>
              {{end}}
            </li>
          {{else}}
            <li>No todos yet!</li>
          {{end}}
        </ul>
      </div>
    </div>
  </body>
</html>
