apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - todo-frontend/manifests/namespace.yaml
  - todo-frontend/manifests/gateway.yaml
  - todo-frontend/manifests/pvc.yaml
  - todo-frontend/manifests/deployment.yaml
  - todo-frontend/manifests/service.yaml
  - todo-frontend/manifests/http-route.yaml

  - todo-backend/manifests/postgres.yaml
  - todo-backend/manifests/deployment.yaml
  - todo-backend/manifests/service.yaml
  - todo-backend/manifests/http-route.yaml
  - todo-backend/manifests/cronjob-create-todo.yaml

images:
  - name: ghcr.io/pekk4/devopswithkubernetes-todo_backend
    newTag: "3.5"
  - name: ghcr.io/pekk4/devopswithkubernetes-todo_frontend
    newTag: "2.8"
  - name: postgres
    newTag: "15"
