apiVersion: v1
kind: Service
metadata:
  name: pingpong-service
  namespace: exercises
spec:
  selector:
    app: pingpong-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
