apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: ghcr.io/pekk4/devopswithkubernetes-todo_app
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "8000"
            - name: BACKEND_URL
              value: "http://todo-backend-svc:3000"
          volumeMounts:
            - name: todo-storage
              mountPath: /logs
            - name: todo-storage
              mountPath: /static
      volumes:
        - name: todo-storage
          persistentVolumeClaim:
            claimName: todo-app-pvc
